@charset "UTF-8";

* {
  font-family: NanumSquareRound;
}

a {
  text-decoration: none;
}

body {
  background-color:rgba(250, 250, 250, 1);
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
  padding-bottom: 68px;
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: rgb(32, 32, 32);
}

.file-upload{
    margin-left:-20px;
   
}

.address {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.tel {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 15px;
  margin-top: 13px;
  
}

.btn{
  margin-top: 13px;
  
}

.submit-address-btn {
  all: unset;
  color: #EEEFF1;
  font-size: 15px;
  font-weight: 500;
  background-color: #29c05e;
  border-radius: 5px;
  margin-left: 14px;
  padding: 8px;
   width: 60px;
}

.add-btn {
  all: unset;
  text-align:center;
  color: #EEEFF1;
  font-size: 15px;
  font-weight: 500;
  background-color: #29c05e;
  border-radius: 5px;
  margin-left: 14px;
  padding: 8px;
  width: 60px;
}

.submit-next-btn {
  all: unset;
  color: #EEEFF1;
  font-size: 15px;
  font-weight: 500;
  background-color: #29c05e;
  border-radius: 5px;
  margin-left: -30px;
  padding: 8px;
  width: 60px;
}

.submit-exit-btn {
  all: unset;
  color: #EEEFF1;
  font-size: 15px;
  font-weight: 500;
  background-color: #29c05e;
  border-radius: 5px;
  margin-left: 14px;
  padding: 8px;
  width: 60px;
}

.x-delete-btn, .x-add-btn {
  border-color: #EEEFF1;  
  
}

.login__box {
  width: 450px;
 height: 1060px;
  border-radius: 10px;
  border: 1px solid;
  border-radius: 5px;
  border-color: #E1E1E1;
  padding: 40px;
  background-color:white;
  display:flex;
  margin-top: 20px;
}

.form_store {
   margin-top:-10px;
  color:  black;
  font-size: 15px;
  margin-left: 40px;
}

body > form > div > div > div > div > span {
  margin-left: 3px;
}

.form_input_name {
  width: 300px;
  border: 1px solid;
  border-color:  #E1E1E1;
  border-radius: 10px;
  padding: 8px;
  margin-top: -7px;
  margin-left: 40px;
}

.form_address {
  color: black;
  font-size: 15px;
  padding-top: 10px;
  margin-bottom: -5px;
  margin-left: 40px;
}

 .form_hr, .form_intro, .form_tag ,.form_number {
  color: black;
  font-size: 15px;
  padding-top: 10px;
  margin-bottom: -5px;
}

.tag{
   margin-top:10px;
}

.form_check{
  color: black;
  font-size: 15px;
  padding-top: 20px;
  margin-bottom: -5px;
}

.form_input_address {
  width: 197px;
  border: 1px solid;
  border-color: #E1E1E1;
  border-radius: 10px;
  padding: 8px;
  margin-top: -5px;
  margin-left: 40px;
}

.form_input_address_detail {
  margin-top: 18px;
  width: 300px;
  border: 1px solid;
  border-color: #E1E1E1;
  border-radius: 10px;
  padding: 8px;
  margin-left: 40px;
}

.form_input_hr , .form_input_intro{
   width: 299px;
   height:100px;
  border: 1px solid;
  border-color:  #E1E1E1;
  border-radius: 10px;
  padding: 8px;
  margin-top: -5px;
  
}

.form_input_tel, .form_input_number {
  width: 299px;
  border: 1px solid;
  border-color: #E1E1E1;
  border-radius: 10px;
  padding: 8px;
  margin-top: -5px;
}


.form_input_check{
  border: 1px solid;
  border-color: black;
  border-radius: 10px;
  padding: 8px;
  margin-top: 5px;
  
}

.alcohol-content {
  padding-left:40px;  
  margin-top: 20px;
}


.form_input_box{
  width:100px;
  border: 1px solid;
  border-color: #E1E1E1;
  border-radius: 10px;
  padding: 8px;
  margin-top: 5px;
  
}
/*.submit-btn {
  all: unset;
  color: #EEEFF1;
  font-size: 20px;
  font-weight: 600;
  background-color: #29c05e;
  margin-bottom: 50px;
  padding: 10px 120px;
  border-radius: 5px;
  width: auto;
  margin-left: 10px;
  margin-top: 40px;
}*/
#ig {
  width: 60px;
  height: 60px;
  vertical-align: middle !important;
  margin-top: -16px;
}

input {
  margin: 3px;
}
footer__ {
  border: 1px solid #29c05e;
  border-width: 3px 0px 0px 0px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 700;
}

.footer-contents {
  display: flex;
  justify-content: center;
  background-color: white;
}

.footer-content {
  text-align: center;
  margin: 7px 60px;
  font-size: x-small;
}

.footer-contents-1 {
  margin-top: 40px;
}

.footer-content-3 {
  margin-top: 40px;
  display: flex;
}

.footer-content-info {
  margin-right: 40px;
}