

* {
  font-family: NanumSquareRound;
}



  h1{
 display: flex;
flex-direction: column;
  justify-content: center;
  font-weight:1000;
  font-size:50px;
  
  margin-top: 300px;
}

table { border-collapse: collapse; border-spacing: 0px; margin:auto;}
table tbody td  { border-collapse: separate;  
                  border-spacing: 200px; 
                  text-align:center; 
                  margin-right:auto; margin-left:auto;
                  font-size:20px;
                  padding-top: 10px;
                  padding-bottom: 20px;
                  padding-left: 30px;
                  padding-right: 40ox;}

 thead{
 text-align:center !important;
  font-weight: bold;
  font-size:25px;
  border-collapse: separate;  
 border-spacing: 200px; 
  border-style:solid 2px;
  height:40px;
  background-color:#C4C4C4;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40ox;
 
 }
 
 thead th {
  vertical-align: middle;
  text-align: center;
 }
  
  

  
  .x-add-btn-1 {
     /*position: relative;
    left: 1150px;*/
     background-color:#C4C4C4;
     color:#000000;
     font-size:30px;
     font-weight:bold;
    margin-bottom: 0.25rem!important;
   }
   
   
    .x-update-btn {
     background-color:#C4C4C4;
     color:#000000;
     font-size:30px;
     font-weight:bold;
   }
   
     .x-delete-btn{
     background-color:#C4C4C4;
     color:#000000;
     font-size:30px;
     font-weight:bold;
   }
  #ig{ width:60px; height:60px; vertical-align:middle !important;
       margin-top:-16px;}
  
   /* footer 수정 */
.footer-contents {
  margin-top: 72vh;
  margin-left: -24%;
  margin-right: -24%;
  border: 1px solid #29c05e;
  border-width: 3px 0px 0px 0px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.footer-content {
  text-align: center;
  margin: 7px 60px;
  font-size: x-small;
}

.footer-contents-1 {
  margin-top: 40px;
}

.footer-content-3 {
  margin-top: 40px;
  display: flex;
}

.footer-content-info {
  margin-right: 40px;
}

   
/* 
/* 테블릿 세로 사이즈 넘어가면 적용 */
@media screen and (min-width: 768px) {
}

/* 테블릿 가로 사이즈 넘어가면 적용 */
@media screen and (min-width: 1024px) {
}

/* 스마트폰 가로 사이즈 넘어가면 적용 */
@media screen and (min-width: 480px) {
}

/* 스마트폰 세로 사이즈 넘어가면 적용 */
@media screen and (min-width: 320px) {
} 
