* {
  font-family: NanumSquareRound;
}

content__ {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#store-fix-all {
  display: flex;
  justify-content: center;
}

center {
  margin-top: 130px;
  margin-bottom: 30px;
}

.xleft {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.store-fix-left {
  margin: 0px;
  padding: 0px;
}

body > content__ > div {
  margin: 0;
  padding: 0;
}

div.xleft {
  /* padding: 0 100px 0 0; */
  border-right: 1px solid #000;
}

#left-title {
  margin: 0;
  padding: 0;
}

.xright {
  display: flex;
  flex-direction: column;
  /* align-items:flex-start */
}

div.xright {
  padding: 0 20px;
}

xright-btn {

}

.btn-primary {
  background-color: #29C05E;
  border-color: #29C05E;
  width: 90px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #29C05E;
  border-color: #29C05E;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #29C05E;
  border-color: #29C05E;
}

input {
  margin: 3px;
}

#ig { 
    width:60px; height:60px; vertical-align:middle !important;
    margin-top:-16px;
}

#x-tag-btn {
  width: 50px;
  height: 30px;
  font-size: 2px;
}

#x-addr1 {
  width: 70px;
}

/* footer 수정 */
footer__storeChange {
  border: 1px solid #29c05e;
  border-width: 3px 0px 0px 0px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 700;
}

.footer-contents {
  display: flex;
  justify-content: center;
  background-color: white;
}

.footer-content {
  text-align: center;
  margin: 7px 60px;
  font-size: x-small;
}

.footer-contents-1 {
  margin-top: 40px;
}

.footer-content-3 {
  margin-top: 40px;
  display: flex;
}

.footer-content-info {
  margin-right: 40px;
}
