* {
    font-family: NanumSquareRound;
  }


  #change_password {
    text-align: center;
    margin-left: 250px;
    font-weight: 400;
    display: inline-block;
    margin-top: 160px;
    font-size: 30px;
  }

  #password1 {
    margin-left : 205px;

  } 

  #password2 {
    margin-left : 205px;
  }
  
  #password3 {
    margin-left : 190px;

  }

  #password_current {
    margin-left: 10px;
    border: 0.5 solid gray;  
  }

  #password_new {
    margin-left: 25px;
    border: 0.5 solid gray;
  }

  #password_confirm {
    margin-left: 10px;
    border: 0.5 solid gray;
  }

  .btn {
    background-color: #29c05e;
    width: 100px;
    margin-top: 20px;
    margin-left: 40%;
    color: white;
    border-radius: 7px;
    }

 p {
   text-align: center;  
 }



footer__ {
    border: 1px solid #29c05e;
    border-width: 3px 0px 0px 0px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 700;
  }
  
  .footer-contents {
    display: flex;
    justify-content: center;
    background-color: white;
  }
  
  .footer-content {
    text-align: center;
    margin: 7px 60px;
    font-size: x-small;
  }
  
  .footer-contents-1 {
    margin-top: 40px;
  }
  
  .footer-content-3 {
    margin-top: 40px;
    display: flex;
  }
  
  .footer-content-info {
    margin-right: 40px;
  }
  
  