.member-detail-div {
  width: 60vw;
  height: 400px;
  margin-top: 50px;
  margin-left: 220px;
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  font-size: 20px;
}

.member-detail-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: 1px rgb(205, 205, 205) solid;
}

.member-detail-content {
  display: flex;
  /* justify-content: center; */
  padding: 20px;
}

table {
  width: 60vw;
  border-collapse: collapse;
  border-top: 1.5px solid black;
  /* border-bottom: 1.5px solid black; */
}

th {
  border-right: 1px solid black;
}

tbody {
  text-align: center;
}


tr {
  border-bottom: 0.5px solid black;
}
