.member-page {
  display: flex;
  justify-content: center;
}

.x-member-search {
  margin-bottom: 10px;
}

.x-member-curr {
  margin-bottom: 50px;
}

#x-curr-table {
  text-align: center;
  border-collapse: collapse;
  /* border: 1px rgb(212, 212, 212) solid; */
  /* overflow: hidden; */
  width: 40%;
}

#x-curr-table th {
  /* border-radius: 5px; */
  background-color: rgb(212, 212, 212);
}

#x-member-table {
  text-align: center;
  border-collapse: collapse;
  width: 80vw;
}

#x-member-table thead {
  background-color: rgb(212, 212, 212);
}
