* {font-family: NanumSquareRound;}
  
  div.left {
    /* padding: 0 100px 0 0; */
    width: 50%;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #000;
  }
  div.right {
    padding: 0 20px;
    width: 50%;
    float: right;
    box-sizing: border-box;
  }

 .top{
 margin-top:-5px;
  padding-left: 10%; 
  vertical-align:middle !important;
 }

 .bottom{
  margin-top:-55px;
  padding-left: 10%; 
  vertical-align:middle !important;
 }

 .btn{
 background-color: #ffffff;
   font-size:20px;
   font-weight:500;
   }
 
 .x-evaluate-btn{
  background-color: #90D483;
  color: #ffffff;
  width:80px;
  height:35px;
 }
 
  .profile-img{
  object-fit: cover;  /*지정한 가로,세로 크기에 꽉차게 지정*/
  object-position: center; /*정사각형이 아니라 직사각형일 경우 원 안에 보여지게 할 중심 이미지의 위치를 지정*/
  width: 220px;
  height: 170px;
  border-radius: 70%;
  overflow: hidden;

  }
  
  
 .footer-contents {
 border: 1px solid #F3F3F3;
  border-width: 3px 0px 0px 0px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  
  
}

.footer-contents-1 {
	 margin: auto;
	 padding-top:5px;
  padding: 3 8px 3 8px; 
	height: 60px;
  display: flex;
  font-weight: 700;
  justify-content: center;
  background-color: #F3F3F3;
}






   
/* 
/* 테블릿 세로 사이즈 넘어가면 적용 */
@media screen and (min-width: 768px) {
}

/* 테블릿 가로 사이즈 넘어가면 적용 */
@media screen and (min-width: 1024px) {
}

/* 스마트폰 가로 사이즈 넘어가면 적용 */
@media screen and (min-width: 480px) {
}

/* 스마트폰 세로 사이즈 넘어가면 적용 */
@media screen and (min-width: 320px) {
} 
