
  * {font-family: NanumSquareRound;}
  
 

  div.left {
    /* padding: 0 100px 0 0; */
    width: 50%;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #000;
  }

  div.right {
    padding: 0 20px;
    width: 50%;
    float: right;
    box-sizing: border-box;
  }
  
  /* 공통 css*/ 
  
  h1 {
  left:100px;
  font-weight:500;
  font-size:30px;
  margin-top: 100px;
  padding-left:130px;
}

  h2 {
  word-spacing:300px;
  font-size:15px;
  font-weight:500;
  margin-top: -20px;
  margin-left:130px;
  }
  
 

/* imgcard */

.imgCardAll {
  /* display: none; */
  display: flex;
  counter-reset: section;
 margin-left:100px;
  margin-top: -30px;
}


.selectlist-contents-imgCard-1, .selectlist-contents-imgCard-2 {
  margin-top: 13px;
  display: flex;
}

.selectlist-group {
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
}
.img-top{
  width: 300px;
  height: 150px;
  border-radius: 9px;
}

.content {
  display: flex;
  justify-content: space-between;
}
.body {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: medium;
  font-weight: 700;
  margin-top: 7px;
}

.text {
  margin: 5px 0px;
}

.writer {
	margin-top:-20px;
  font-size: medium;
}

#x-delete-btn {
	width:100px;
	border:none;
  margin-top: 10px;
}



.box {
  position: relative;
}

.b {
  color: red;
  font-size: larger;
  left: 169px;
  top: 35px;
}


	
  /*커뮤니티*/
     .community-title{
     font-size:20px;
  font-weight:500;
     margin-top: -40px;
      padding-left:130px;
     }
     
     .community1-col-4{
           margin-top:-50px;
            margin-right:25%;
             float:right !important;
              max-width:100%; 
             /* border: 1px solid #BCBCBC; 
              box-sizing: border-box; 
              border-radius: 20px; */
              width: 300px; 
              height: 150px;
              white-space:nowrap;
              }
     
     .community-col-4{
               padding-left: 3%;
               margin-left: 70px; 
               margin-top:10px;
               margin-right:70px; 
               width:50%; 
              /* border: 1px solid #BCBCBC; 
               box-sizing: border-box; 
               border-radius: 24px; */
               width: 300px;
               height: 150px;
               white-space:nowrap;
              }
     
		 .community-card-body-ul{
		             margin-top:20px;
		             padding-left: 40px;
		           /* position:absolute;*/
		           /* height:40px;*/
		            top:50px;
		            left:300px;
		            width:330px;
		            }
  
    
     .community-card-1{
           float:left;
           display: flex;
          align-items: center;
           
           /* position:relative;*/
           width: 17rem; 
           margin-top: 15px; 
           margin-bottom:15px; 
           margin-left: 10px; 
           }  
   
      .community-img-top{
           width:250px;
           height:200px;
       }
                   
     .community-card{
      margin-top: -30px;
           float:left;
            display: flex;
          align-items: center;
          
          /* position:relative;*/
           width: 17rem; 
          
           margin-bottom:15px; 
           margin-left: 10px; 
           }        
           
	/* .btn{
            float: right;/*border-radius:10px; color:E2E2E2; background-color:white;} */
     
    
                      
/* 
/* 테블릿 세로 사이즈 넘어가면 적용 */
@media screen and (min-width: 768px) {
	       
}

/* 테블릿 가로 사이즈 넘어가면 적용 */
@media screen and (min-width: 1024px) {
	
} 

/* 스마트폰 가로 사이즈 넘어가면 적용 */
@media screen and (min-width: 480px) {
}

/* 스마트폰 세로 사이즈 넘어가면 적용 */
@media screen and (min-width: 320px) {
} 

content  {}