
  * {font-family: NanumSquareRound;}
  
 

  div.left {
    /* padding: 0 100px 0 0; */
    width: 50%;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #000;
  }

  div.right {
    padding: 0 20px;
    width: 50%;
    float: right;
    box-sizing: border-box;
  }
  
  /* 찜목록 css*/ 
  
  h1 {
  left:100px;
  font-weight:500;
  font-size:30px;
  margin-top: 100px;
  padding-left:130px;
}

  h2 {
  font-size:20px;
  font-weight:500;
  margin-top: -30px;
  padding-left:130px;
  }
  
  h3{
   font-size:15px;
   left:100px;
   font-weight:500;

  }
  
  /* 주점 */
  .store-group{
  margin-right:-100px;
  }
  
  .store-card-1{
  margin-top: -90px;
   float:right!important;
   margin-right:9%;
   padding-top:5.5%; 
   max-width:100%; 
   width:500px; 
    /*margin-right:5%;*/
  }
   
   .store-card {
   margin-top: -70px;
     padding-left:130px; 
     width:50%;
   }
   
	  .store-card-body{
	  font-size:20px;
	  padding-left: 5%;
	  }

		.store-img-top{ 
		width: 300px;
		height:150px;
		}
		
		.btn{
		margin-top: -10px;
		}
		
  /*커뮤니티*/
     .community-title{
     font-size:20px;
  font-weight:500;
     margin-top: -40px;
      padding-left:130px;
     }
     
     .community1-col-4{
           margin-top:-50px;
            margin-right:25%;
             float:right !important;
              max-width:100%; 
             /* border: 1px solid #BCBCBC; 
              box-sizing: border-box; 
              border-radius: 20px; */
              width: 300px; 
              height: 150px;
              white-space:nowrap;
              }
     
     .community-col-4{
               padding-left: 3%;
               margin-left: 70px; 
               margin-top:10px;
               margin-right:70px; 
               width:50%; 
              /* border: 1px solid #BCBCBC; 
               box-sizing: border-box; 
               border-radius: 24px; */
               width: 300px;
               height: 150px;
               white-space:nowrap;
              }
     
		 .community-card-body-ul{
		             margin-top:20px;
		             padding-left: 40px;
		           /* position:absolute;*/
		           /* height:40px;*/
		            top:50px;
		            left:300px;
		            width:330px;
		            }
  
    
     .community-card-1{
           float:left;
           display: flex;
          align-items: center;
           
           /* position:relative;*/
           width: 17rem; 
           margin-top: 15px; 
           margin-bottom:15px; 
           margin-left: 10px; 
           }  
   
      .community-img-top{
           width:250px;
           height:200px;
       }
                   
     .community-card{
      margin-top: -30px;
           float:left;
            display: flex;
          align-items: center;
          
          /* position:relative;*/
           width: 17rem; 
          
           margin-bottom:15px; 
           margin-left: 10px; 
           }        
           
	/* .btn{
            float: right;/*border-radius:10px; color:E2E2E2; background-color:white;} */
     
    
                      
/* 
/* 테블릿 세로 사이즈 넘어가면 적용 */
@media screen and (min-width: 768px) {
	       
}

/* 테블릿 가로 사이즈 넘어가면 적용 */
@media screen and (min-width: 1024px) {
	
} 

/* 스마트폰 가로 사이즈 넘어가면 적용 */
@media screen and (min-width: 480px) {
}

/* 스마트폰 세로 사이즈 넘어가면 적용 */
@media screen and (min-width: 320px) {
} 

content  {}