@charset "UTF-8";

button{
  all: unset;
}

.modal-open {
  padding-right:0 !important;
}

.editor {
  margin-top: 100px;
  width: 1100px;
  display: flex;
  flex-direction: column;
}

.editorbtns {
  display: flex;
  align-items: baseline;
  justify-content: end;
  margin-bottom: 15px;
}

.save {
  background: #90D483;
  width: 90px;
  height: 40px;
  color: #343434;
  border-radius: 10px;
  line-height: 40px;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
}

.exit {
  background: #90D483;
  width: 90px;
  height: 40px;
  color: #343434;
  border-radius: 10px;
  line-height: 40px;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  margin-left: 10px;
}

.party-title {
  width: 1100px;
  height: 45px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

.select-poption {
  display: flex;
  width: 1100px;
  height: 45px;
}

.select-poption {
  display: flex;
  width: 1100px;
  height: 45px;
}

#map {
  width: 100%;
  height: 480px;
}

.mmodal-size {
  max-width: 850px !important;
  height: 600px;
}

.pmodal-size {
  max-width: 370px !important;
}

#exampleModal > div > div > div.modal-footer > button {
  width: 70px;
}

#exampleModalLabel {
  font-size: 20px;
}

.select-poption .btn {
  margin-right: 3px;
  height: 30px;
  font-size: 18px !important;
  background-color: #90D483 !important;
  border: none;
}

#p-location {
  width: 280px;
}
#p-date {
  width: 260px;
}
#p-type {
  width: 100px;
}
#p-limit {
  width: 100px;
}
#p-fee {
  width: 100px;
}
#p-member {
  width: 100px;
  margin-right: 0 !important;
}

.poption-select-wrap {
  display: flex;
  width: 1100px;
  height: 45px;
  margin-bottom: 10px;
}

.poption-select-wrap input {
  border: none;
}

.poption-select {
  display: flex;
  border: 3px solid #90D483;
  border-radius: 6px;
  margin-right: 3px;
  font-size: 17px;
}

/*지정한 파티 옵션*/
#ps-location {
  width: 304px;
}
#ps-date {
  width: 284px;
}
#ps-type {
  width: 124px;
}
#ps-limit {
  width: 124px;
}
#ps-fee {
  width: 124px;
}
#ps-member {
  width: 124px;
  margin-right: 0 !important;
}

#ps-location input {
  width: 304px;
}
#ps-date input {
  width: 284px;
}
#ps-type input {
  width: 124px;
}
#ps-limit input {
  width: 119px;
}
#ps-fee input {
  width: 119px;
}
#ps-member input {
  width: 118px;
  margin-right: 0 !important;
}

/*지도(위치 선택)*/

.my-address-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: rgb(252, 180, 21);
  font-size: 45px;
  text-shadow: -1px 0 #fca015, 0 1px #fca015, 1px 0 #fca015, 0 -1px #fca015;
}

.my-address {
  width: 100%;
  height: 51px;
  line-height: 51px;
  position: absolute;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background: white;
  opacity:0.8;
  z-index: 2;
}



/*푸터 하단 고정*/
footer__ {
  position : absolute;
  bottom : 0;
}