@charset "UTF-8";

#party-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: NanumSquareRound;
  justify-content: center;
  width: 1107px;
}

button {
  all: unset;
}

.location__ {
  margin-top: 120px;
  font-size: 22px;
  margin-left: 13px;
  color: rgba(75, 75, 75, 1);
}

#party-content-wrap {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.party-sort {
  display: flex;
  width: 517px;
  height: 23px;
  position: absolute;
  margin-left: 10px;
  top: 42px;
}


.party-new {
  font-weight: 900;
}

.party-distance {
  font-weight: 500;
  margin-left: 10px;
}

.party-open {
  position: absolute;
  right: 3px;
  top: 22px;
  width: 152px;
  height: 42px;
  background: #90D483;
  font-weight: 600;
  font-size: 21px;
  color: #FFFFFF;
  border-radius: 10px;
}

#party-list {
  border : none;
  margin-top: 50px;
  width: 1107px;
  height: 263px;
}

.card-body {
  background-color: rgba(245, 245, 245, 1);
  height: 263px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.community_img {
  float: right;
  width: 300px;
  height: 235px;
  left: 1070px;
  top: 1px;
}

.community_time {
  position: relative;
  width: 55px;
  height: 20px;
  left: 600px;
  top: -20px;
  font-weight: 200;
  font-size: 13px;
}

.community_writer {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  width: 45px;
  height: 20px;
  left: 650px;
  top: -23px;
}

.contents {
  padding-top: 10px;
  margin-top: 10px;
  top: 10px;
  padding-left: 5px;
}

.card-contents-name {
  font-size: 18px;
  width: 130px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: left;
  top: 80px;
}

#card-contents {
  float: left;
  background-color: rgba(245, 245, 245, 1);
  width: 700px;
  height: 130px;
}

.card-like {
  float: left;
  border: solid;
  border-top-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-right-width: thin;
  text-align: center;
  border-radius: 16px;
  background-color: white;
  width: 80px;
  height: 20px;
  line-height: 20px;
}

.card-comment {
  float: left;
  margin-left: 10px;
  border: solid;
  border-top-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-right-width: thin;
  text-align: center;
  border-radius: 16px;
  background-color: white;
  width: 100px;
  height: 20px;
  line-height: 20px;
}
