@charset "UTF-8";

button{
  all: unset;
}

.modal-open {
  padding-right:0 !important;
}

.editor {
  margin-top: 135px;
  width: 1100px;
  display: flex;
  flex-direction: column;
}

.editorbtns {
  display: flex;
  align-items: baseline;
  justify-content: end;
  margin-bottom: 30px;
}

.save {
  background: #90D483;
  width: 90px;
  height: 40px;
  color: #343434;
  border-radius: 10px;
  line-height: 40px;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
}

.quit {
  background: #90D483;
  width: 90px;
  height: 40px;
  color: #343434;
  border-radius: 10px;
  line-height: 40px;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  margin-left: 10px;
}

.party-title {
  width: 1100px;
  height: 45px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

.select-poption {
  display: flex;
  width: 1100px;
  height: 45px;
  margin-bottom: 10px;
}

#map {
  width: 100%;
  height: 480px;
}

.mmodal-size {
  max-width: 850px !important;
  height: 600px;
}

.pmodal-size {
  max-width: 350px !important;
}

#exampleModal > div > div > div.modal-footer > button {
  width: 70px;
}

#exampleModalLabel {
  font-size: 20px;
}

.select-poption .btn {
  margin-right: 3px;
  width: 60px;
  height: 32px;
  font-size: 18px !important;
  background-color: #90D483 !important;
  border: none;
}

/*푸터 하단 고정*/
footer__ {
  position : absolute;
  bottom : 0;
}