@charset "UTF-8";

* {
  font-family: NanumSquareRound;
}

body {
  width: 1280px;
  height: auto;
  min-height: 100%;
  padding-bottom: 68px; /* footer 높이 */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
