@charset "UTF-8";
@import "reset.css";

* {
  font-family: NanumSquareRound;
}

body {
  align-items: center;
  min-height: 100%;
  padding-bottom: 68px; /* footer 높이 */
  max-width: 1280px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0;
}
