
.footer-contents {
  margin-top: 72vh;
  margin-left: -24%;
  margin-right: -24%;
  border: 1px solid #29c05e;
  border-width: 3px 0px 0px 0px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.footer-content {
  text-align: center;
  margin: 7px 60px;
  font-size: x-small;
}

.footer-contents-1 {
  margin-top: 40px;
}

.footer-content-3 {
  margin-top: 40px;
  display: flex;
}

.footer-content-info {
  margin-right: 40px;
}

/* 테블릿 세로 사이즈 넘어가면 적용 */
@media screen and (min-width: 768px) {
}

/* 테블릿 가로 사이즈 넘어가면 적용 */
@media screen and (min-width: 1024px) {
}

/* 스마트폰 가로 사이즈 넘어가면 적용 */
@media screen and (min-width: 480px) {
}

/* 스마트폰 세로 사이즈 넘어가면 적용 */
@media screen and (min-width: 320px) {
}

.alclist-category-div {
  font-family: NanumSquareRound;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin-top: 100px;
  margin-left: -25%;
  margin-right: -25%;
  margin-bottom: 50px;
  font-weight: 700;
}

.category-sort-div {
  display: flex;
  align-items: baseline;
}

.category-font {
  margin: 0px 15px;
  font-weight: 700;
  background-color: white;
  border-style: solid;
  border-color: white;
}

.act {
  padding: 4px 6px;
  background-color: #29c05e;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 16px;
}

.filter {
  display: flex;
  align-items: baseline;
  margin-right: 80px;
}

.filter-font {
  margin: 0px 15px;
  background-color: white;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 16px;
  border-color: rgb(160, 160, 160);
}

.d-flex {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  position: static;
}
/* img {
  padding: 0 40px 0 40px;
} */
