@charset "UTF-8";

.swiper-slide:hover, .btn:hover, .btn-primary:hover {
  background-color: #ffffff;
  border-style: solid;
  border-color: white;
}

.category {
  position: relative;
  display: flex;
  align-items: baseline;
  width: 1017px;
  height: 63px;
  left: 90px;
  top: 100px;
}

.category-font{
  margin: 0px 30px;
  padding: 4px 6px;
  font-weight: 700;
  background-color: white;
  border-style: solid;
  border-color: white;
  border-radius: 16px;
  cursor: pointer;
}

.act {
  margin: 0px 15px;
  padding: 4px 6px;
  font-weight: 700;
  background-color: #29c05e;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 16px;
}

.card {
  display: flex;
  border : none;
  width: 1257px;
  /* left: 70px; */
  top: 80px;

  position: relative;
  width: 90%;
  height: 90%;
  background: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: auto;
  padding: 0;
}

.card-body-1 {
  display: flex;
  height: 463px;
  border-radius: 10px;
  margin-top: 10px;
  position: absolute;
  width: 310px;
  left: 35px;
  top: 10px;
}

/* swiper css */

.swiper {
  width: 100%;
  height: 100%;
  background-color: white;
}

.swiper .mySwiper {
  background-color: white;
}

.swiper-wrapper {
  background-color: white;
}

.swiper-slide {

  text-align: center;
  font-size: 18px;
  background-color: white;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  position: relative;
  top: -50px;
  width: 100%;
  height: 80%;
  /* object-fit: cover; */
  background-color: white;
}

.swiper-pagination {
  position: relative;
  top: 620px;
}

/* bootstrap Modal*/

.btn {
  border-color: white;
}



.modal-content {
  border-radius: 20px;
  width: 550px;
  height: 550px;
}

.modal-title {
  position: relative;
  left: 240px;
  font-weight: 700;
  font-size: 20px;
  /* color: #29c05e; */
}

.modal_img {
  border-radius: 20px;
  position: relative;
  top: -14px;
  left: -12px;
  width: 105%;
  height: 72%;
}
