body {
  font-family: NanumSquareRound;
  margin: 0;
  padding: 0;
}

/* 전체박스 묶음 */
.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 상단이미지 박스 */
.xMain-img {
  width: 400px;
  height: 400px;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
.xSub-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
.img-box {
  margin-top: 110px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.xSub-box1, .xSub-box2 {
  display: flex;
  margin: 0;
  padding: 0;
}
/* 모든 아이콘 */
.fa-solid {
  color: rgb(63, 63, 63);
  font-size: larger;
  margin-right: 5px;
}
/* 주점박스 정렬 */
.storeBox {
  margin-top: 35px;
}
.storeName {
  font-size: 30px;
  font-weight: 600;
  color: rgb(63, 63, 63);
}
.storeBox, .storeTextBox-1-1, .storeTextBox-1-2 {
  display: flex;
}
.storeTextBox-1-1{
  flex-direction: column;
}
.storeTextBox-1-1-1 {
  margin-left: 5px;
  margin-top: 13px;
}
.storeTextBox {
  margin-right: 100px;
}
.storeTextBox-1 {
  margin: 0;
  padding: 0;
}
.storeTextBox-1-2 {
  margin-top: 13px;
  margin-left: 5px;
}
.storeTextBox-2, .storeTextBox-3 {
  margin-top: 20px;
}
.storeTextBox-2 {
  margin-left: 5px;
}
.storeTextBox-3 {
  margin-left: 4px;
}
/* 별점 */
.storeStar {
  font-size: 20px;
}
/* 하트 */
#heart {
  color: red;
}
/* 영엽중 표시 */
.storeDetailInfo {
  display: flex;
  font-size: 13px;
  margin-bottom: 5px;
  color: #616161;
}
/* 영엽시간 */
.storeTime, .sugAlc, .sugFood {
  color: rgb(63, 63, 63);
  font-size: 20px;
  font-weight: bold;
}
.storeTimeInfo {
  margin-left: 10px;
  margin-top: 10px;
}
.storeTel, .storeTag, .storeIntro {
  margin-top: 10px;
}
.storeShare {
  margin: 0px 20px;
}
/* 추천주류 추천안주 */
.storeSuggestion {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.sugAlcBox, .sugFoodBox {
  display: flex;
  flex-direction: column;
}
.relative {
  position: relative;
  left: -12px;
}
.sugFoodBox {
  margin-top: 35px;
}
.sugAlcImg, .sugFoodImg {
  display: flex;
  margin-top: 10px;
}
.xAlc-img, .xFood-img {
  object-fit: cover;
  width: 140px;
  height: 140px;
  border-radius: 9px;
}
.xAlc-name, .xFood-name {
  margin-top: 4px;
  color: #616161;
  font-weight: 300;
}
.xAlc-price, .xFood-price {
  font-weight: 600;
}
.sugAlcImg-card, .sugFoodImg-card {
  text-align: center;
  margin: 0px 5.5px;
}
/* 주점리뷰 */
.storeReviewBox {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.xReviewBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.storeReviewBack {
  width: 760px;
  height: 180px;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 29px;
  margin-left: 27px;
  margin-top: 20px;
}
.reviewSort, .reviewSortChoice {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.reviewSortChoice {
  margin-right: 30px;
}
.reviewSort-title {
  color: rgb(63, 63, 63);
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
}
.choiceRecent, .choiceStar, .choicePhoto {
  margin: 0px 10px;
  font-size:small;
  cursor: pointer;
}
.storeReviewBack {
  display: flex;
}
.reviewprofile {
  width: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 30px;
  margin-top: 25px;
}
.profile-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: 0;
  padding: 0;
  border-radius: 100px;
}
.reviewerName {
  margin: 7px 0px;
}
.reviewStar {
  font-size: small;
}
.reviewContents {
  font-size: small;
  margin: 0px 20px;
  margin-top: 24px;
  margin-bottom: 18px;
  line-height: 20px;
}
.review-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 5px;
  padding: 0;
  border-radius: 10px;
}
.reviewImgBox {
  margin-top: 10px;
}
/* map */
#mapInfo > span > i {
  color: #29C05E;
  font-size: 35px;
}
