/* footer 수정 */
footer__store {
  font-weight: 700;
}
.footer-contents {
  margin-top: 80px;
  margin-left: -25%;
  margin-right: -25%;
  border: 1px solid #29c05e;
  border-width: 3px 0px 0px 0px;
  display: flex;
  justify-content: center;
  background-color: white;
}
.footer-content {
  text-align: center;
  margin: 7px 60px;
  font-size: x-small;
}
.footer-contents-1 {
  margin-top: 40px;
}
.footer-content-3 {
  margin-top: 40px;
  display: flex;
}
.footer-content-info {
  margin-right: 40px;
}

.xMain-img {
  width: 400px;
  height: 400px;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
.xSub-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
.img-box {
  margin-top: 110px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.xSub-box1, .xSub-box2 {
  display: flex;
  margin: 0;
  padding: 0;
}

i {
  font-size:larger; 
}
.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.storeBox {
  margin-top: 35px;
}
.storeName {
  font-size: 40px;
}
.storeBox, .storeTextBox-1-1, .storeTextBox-1-2 {
  display: flex;
}
.storeTextBox {
  margin-right: 70px;
}
.storeTextBox-1 {
  margin: 0;
  padding: 0;
}
.storeTextBox-2 {
  margin-left: 5px;
}
.storeTextBox-3 {
  margin-left: 5px;
}
.storeTextBox-1-2 {
  margin-top: 13px;
  margin-left: 5px;
}
.storeTextBox-1-1-1 {
  margin-left: 10px;
}
.storeStar {
  font-size: 20px;
}
.storeDetailInfo {
  font-size: 13px;
  margin-bottom: 5px;
  color: #b6b6b6;
}
.storeTextBox-2, .storeTextBox-3 {
  margin-top: 30px;
}
.storeTime {
  font-size: 20px;
  font-weight: bold;
}
.storeTimeInfo {
  margin-left: 10px;
  margin-top: 10px;
}
.storeSuggestion {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.storeTel, .storeTag, .storeIntro {
  margin-top: 10px;
}
.storeShare {
  margin: 0px 20px;
}
