body {
  margin-left: 20%;
  margin-right: 20%;
}

/* nav-bar 일부수정 */
body > nav > ul.navbar__login > div:nth-child(3) > div > button > a > login-i {
  padding-right: 15px;
}
body > nav > ul.navbar__login > div:nth-child(1) > div > button > a > login-i {
  padding-right: 15px;
}

/* 주점 콘텐츠 대분류 */
.store-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 주점 카테고리 분류 버튼 */
.store-category {
  font-family: NanumSquareRound;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin-top: 100px;
  margin-left: -25%;
  margin-right: -25%;
  font-weight: 700;
}
.store-category-sort {
  display: flex;
  align-items: baseline;
}
.store-category-font {
  margin: 0px 15px;
  padding: 4px 6px;
  font-weight: 700;
  background-color: white;
  border-style: solid;
  border-color: white;
  border-radius: 16px;
  cursor: pointer;
}
.act {
  margin: 0px 15px;
  padding: 4px 6px;
  font-weight: 700;
  background-color: #29c05e;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 16px;
}
.store-filter {
  display: flex;
  align-items: baseline;
}
.store-filter-font {
  margin: 0px 15px;
  background-color: white;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 16px;
  border-color: rgb(160, 160, 160);
}

/* footer 수정 */
footer__store {
  font-weight: 700;
}
.footer-contents {
  margin-top: 125px;
  margin-left: -25%;
  margin-right: -25%;
  border: 1px solid #29c05e;
  border-width: 3px 0px 0px 0px;
  display: flex;
  justify-content: center;
  background-color: white;
}
.footer-content {
  text-align: center;
  margin: 7px 60px;
  font-size: x-small;
}
.footer-contents-1 {
  margin-top: 40px;
}
.footer-content-3 {
  margin-top: 40px;
  display: flex;
}
.footer-content-info {
  margin-right: 40px;
}

/* 필터 메뉴 */
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 70rem;
  max-width: 70rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #a1a1a1;
  border-radius: 1.25rem;
}
.drop-button-c {
  display: flex;
  align-items: baseline;
  margin: 0px 0px;
  width: 77vw;
}
.drop-button-c > dropdown-item {
  margin: 0px;
  padding: 0px;
}
.drop-button-c > div {
  padding: 10px 10px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}
.dropdown-xItem-all {
  display: flex;
}
.dropdown-xItem {
  margin: 0px 5px;
  padding: 3px 4px;
  border: 0;
  outline: 0;
  background-color: white;
}
#drop-button-title {
  margin-left: 30px;
  font-weight: 800;
  color: #4d4f50;
}
.dropdown-xItem:hover {
  margin: 0px 5px;
  background-color: #ffffff;
  border-style: solid;
  border-color: white;
  border-radius: 16px;
}
body > div > div.store-contents > div > div.store-filter > div > ul {
  box-shadow: 1px 1px 0px 1.5px #a1a1a1;
}
.form-check-input:checked {
  background-color: #29c05e;
  border-color: #29c05e;
}

/* imgcard */
.imgCardAll {
  /* display: none; */
  display: flex;
  counter-reset: section;
}

.store-contents-imgCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.next-store, .pre-store {
  position: relative;
  margin-top: 278px;
  padding: 0;
  font-weight: bold;
  font-size: 50px;
  color: #29c05e;
  cursor: pointer;
}

.next-store {
  margin-left: 0px;
}

.pre-store {
  margin-right: 8px;
}

.store-contents-imgCard-1, .store-contents-imgCard-2 {
  margin-top: 13px;
  display: flex;
}
.store-contents-imgCard-2 {
  margin-top: 20px;
}
.img-xbox {
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
}
.xImg-ori {
  width: 200px;
  height: 200px;
  border-radius: 9px;
}
.xImg-contents {
  display: flex;
  justify-content: space-between;
}
.xImg-content {
  display: flex;
  flex-direction: column;
}
.xImg-content-t {
  font-size: medium;
  font-weight: 700;
  margin-top: 7px;
}
.xImg-d, .storeOpen {
  font-size: smaller;
}
.storeOpen {
  margin-top: 7px;
}
.xImg-d {
  margin-top: 4px;
}
.xImg-star {
  margin: 5px 0px;
}

.box {
  position: relative;
}

.b {
  color: red;
  font-size: larger;
  left: 169px;
  top: 35px;
}

i.fa-solid.fa-heart.box.b {
  /* display: none; */
  cursor: pointer;
}

i.fa-regular.fa-heart.box.b {
  display: none;
  cursor: pointer;
}

/* storeMap */
#staticMap {
  margin-top: 35px;
  margin-left: 7px;
  width:1200px;
  height:500px;
}